@charset "UTF-8";
@media screen and (max-width: 1025px) {
  #headerBackground {
    height: 300px !important; }

  #navBarLogo {
    top: 205px !important; }

  #headerHeadline {
    font-size: 50px !important; }

  #contentLandingHeader {
    font-size: 30px !important; }

  #contentLandingSubtitle {
    font-size: 20px !important; }

  #test {
    text-align: center !important; }

  #chatBox {
    top: 375px !important; }

  .element {
    margin: 0 auto !important;
    margin-top: 10px !important; }

  #chatSubBtn {
    left: 10% !important; } }
@media screen and (max-width: 770px) {
  #navbar a, #navbar p {
    font-size: 25px !important; }

  #testImg1 {
    width: 400px !important; }

  .testImgs {
    width: 300px !important; }

  #chatBox {
    width: 380px !important; }

  .btn {
    padding: 15px 22px !important; } }
@media screen and (max-width: 770px) {
  #navbar {
    height: auto !important; }

  #navbar li {
    float: none !important; }

  #chatBox {
    top: 483px !important; } }
@media screen and (max-width: 625px) {
  #chatBox {
    left: 12% !important; }

  #headerHeadline {
    font-size: 40px !important; } }
@media screen and (max-width: 500px) {
  #chatBox {
    left: 4% !important;
    width: 320px !important; }

  .btn {
    margin: 20px 10px !important; }

  footer {
    height: 35px !important;
    font-size: 1.4em !important;
    padding-top: 10px;
    margin-top: 10px; } }
.shadow, body #header #headerBackground, body #header #navbar, .element, #chatBox, footer {
  box-shadow: 5px 5px 5px #92A4AA; }

.tshadow {
  text-shadow: 2px 2px 4px #000000; }

.tshadowGrey {
  text-shadow: 2px 2px 4px #666; }

.icons, body #header a[title^='home']::before, body #header a[title^='pro']::before, body #header a[title^='sort']::before, body #header #navbar p::before, .likesDisplay::before {
  font-family: "Font Awesome 5 Free";
  padding-right: 20px; }

.bradius, .element, #chatBox {
  border-radius: 6px; }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Quicksand", sans-serif; }
  body #header #navBarLogo {
    width: 90px;
    height: 95px;
    background-color: grey;
    opacity: 0.7;
    font-size: 80px;
    position: absolute;
    right: 0px;
    top: 505px;
    text-align: center; }
  body #header #headerBackground {
    background-image: url("../img/header.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
    opacity: 0.5; }
  body #header #headerHeadline {
    position: absolute;
    top: 15px;
    left: 25px;
    font-size: 70px;
    color: #999;
    font-weight: bold;
    font-family: "Lobster", cursive; }
    body #header #headerHeadline #headerHeart {
      color: red;
      font-weight: bold; }
  body #header #navbar {
    height: 75px;
    background-color: grey;
    width: 100%;
    margin-bottom: 30px; }
  body #header #navbar li {
    list-style: none;
    float: left;
    margin-left: 50px;
    padding: 15px; }
  body #header #navbar a, body #header #navbar p {
    display: block;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    color: white; }
  body #header a[title^='home']::before {
    content: ""; }
  body #header a[title^='pro']::before {
    content: ""; }
  body #header a[title^='sort']::before, body #header #navbar p::before {
    content: ""; }
  body #header #navbar a:hover {
    color: #ff3232; }
  body #header #navbar p:hover {
    color: #ff3232; }

#contentLanding #contentLandingHeader, #contentLanding #contentLandingSubtitle {
  margin-top: 30px;
  text-align: center;
  font-weight: bold; }
  #contentLanding #contentLandingHeader #headerHeart, #contentLanding #contentLandingSubtitle #headerHeart {
    color: red;
    font-weight: bold; }
#contentLanding #contentLandingHeader {
  font-size: 3em; }
#contentLanding #contentLandingSubtitle {
  font-size: 2em;
  margin: 20px; }
  #contentLanding #contentLandingSubtitle #contentLandingSubtitle h4 {
    padding: 15px; }
#contentLanding .indexSlide .card {
  background-color: white;
  min-width: 100%;
  min-height: 250px;
  display: flex;
  overflow-x: auto; }
#contentLanding .indexSlide .card::-webkit-scrollbar {
  display: none; }
#contentLanding .indexSlide .card--content {
  background-color: lightgrey;
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 250px;
  width: 100%;
  margin: 5px; }
#contentLanding #LandingPageImage {
  display: flex;
  justify-content: space-around;
  flex-direction: column; }
  #contentLanding #LandingPageImage #test {
    margin: 0 auto; }
    #contentLanding #LandingPageImage #test .testImgs {
      margin: 40px 25px; }
    #contentLanding #LandingPageImage #test #testImg2 {
      height: 180px; }
  #contentLanding #LandingPageImage #adlong {
    width: 100%;
    position: relative;
    bottom: 0px; }

#sortedOutput {
  background-color: grey; }

#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.element {
  float: left;
  border: 1px solid #92A4AA;
  width: 220px;
  height: 620px;
  margin: 20px;
  box-size: box-border;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center; }

.images {
  padding-top: -10px;
  width: 100%;
  height: 60%; }
  .images img {
    height: 310px;
    width: 100%;
    margin: 0 auto;
    border-radius: 6px 6px 0 0; }
  .images .profileMenu {
    position: relative;
    top: -130px;
    background-color: black;
    opacity: 0.5;
    font-size: 50px;
    color: white;
    z-index: 5; }

.descriptionContainer {
  color: #666;
  margin-top: -120px;
  position: relative;
  top: 0px; }

.descriptionTitle {
  color: black;
  font-weight: 1000;
  display: inline;
  font-size: 25px; }

.btnLike, .btnMessage, .btnTrash {
  border-radius: 50%;
  width: 18%;
  border: 2px solid #92A4AA;
  padding: 5px;
  margin: 8px;
  font-size: 2em;
  color: black;
  float: left; }

.likesDisplay {
  margin: 0 auto;
  width: 40%;
  color: red;
  font-size: 40px;
  padding: 10px; }

.likesDisplay::before {
  content: ""; }

.fa-heart {
  padding-right: 8px; }

#chatBox {
  top: 675px;
  margin: 0 auto;
  width: 500px;
  background-color: #CBCFCE;
  position: absolute;
  z-index: 2;
  left: 28%;
  font-size: 30px;
  padding: 30px; }
  #chatBox #btnChatBox {
    display: inline; }
  #chatBox .btn {
    boder: 2px solid #92A4AA;
    background-color: white;
    font-size: 20px;
    margin: 20px 40px;
    padding: 15px 30px; }
  #chatBox #chatSubBtn {
    margin: 0 auto; }
  #chatBox #formBox form {
    margin: 0 auto; }
    #chatBox #formBox form .label {
      margin-top: 15px;
      font-size: 1.5em;
      font-weight: bold; }
  #chatBox #formBox a {
    color: black;
    text-decoration: none;
    clear: right; }
  #chatBox #formBox input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 1em; }
  #chatBox #formBox textarea {
    font-size: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; }

#upLink {
  display: none;
  position: fixed;
  text-decoration: none;
  bottom: 80px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  opacity: 0.7; }

footer {
  height: 60px;
  background-color: grey;
  width: 100%;
  padding-top: 20px;
  margin-top: 15px;
  text-align: center;
  clear: both;
  font-size: 2em;
  color: white; }
  footer ul {
    float: left; }
  footer li {
    display: inline;
    margin: 0 10px; }
  footer a {
    color: white; }
  footer p {
    float: right;
    margin-right: 30px; }

/*# sourceMappingURL=style.css.map */
